* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Product Sans;
}

@font-face {
    font-family: Product Sans;
    src: url(Fonts/Product\ Sans\ Bold.ttf);
}
body::-webkit-scrollbar{
    display: none;
}
html,
body {
    height: 100%;
    width: 100%;
}

#main {
    width: 100%;
    min-height: 100vh;
    background-color: orangered;

}

.nav-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 99;
    height: 10vh;
}

.nav-container a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.nav-menu {
    display: flex;
    gap: 50px;
}

.nav-container img {
    width: 25px;
    height: 25px;
    object-fit: cover;

}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(150deg, rgb(255, 166, 0), rgb(255, 94, 0));
}

.hero h1 {
    font-size: 25vw;
    color: white;
}

#fanta {
    position: absolute;
    width: 40%;
    z-index: 2;
}

#laranja-cortada {
    position: absolute;
    width: 15%;
    z-index: 2;
    top: 10%;
    left: 32%;
}

#laranja {
    position: absolute;
    z-index: 3;
    width: 20%;
    top: 55%;
    right: 30%;
}

#folha {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 18%;
    z-index: 2;
    transform: rotate(60deg);
}

#folha3 {
    position: absolute;
    width: 20%;
    top: 10%;
    right: 0%;
    z-index: 2;
}

#folha2 {
    position: absolute;
    top: 70%;
    width: 12%;
    left: 80%;
    transform: rotate(-90deg);
}

.two {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #4d231c;

}

.left-side,
.right-side {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    width: 50%;
    height: 100%;
}

.left-side svg {
    margin-top: 50vh;
    width: 90%;
    transform: rotateX(50deg);
}

.right-side h2 {
    color: white;
    font-size: 5vw;
}

.right-side p {
    color: white;
    font: 1vw;
}

.three {
    display: flex;
    align-items: center;
    height: 100vh;
    gap: 5vh;
    justify-content: center;
    background: linear-gradient(150deg, rgb(255, 166, 0), rgb(255, 94, 0));
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    width: 25vw;
    background: white;
    flex-direction: column;
    gap: 2vh;
    height: 70vh;
    margin-top: 10vh;
    justify-content: center;
    border-radius: 20px;
}

.card h3 {
    margin-top: 40vh;
    font-size: 3vw;
    color: black;
}

.card button {
    border: none;
    border-radius: 50px;
    font-size: 1vw;
    background-color: rgb(255, 149, 0);
    color: white;
    padding: 1vw 2vw;
}

#cocacola {
    position: absolute;
    top: -15%;
    width: 110%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#pepsi {
    position: absolute;
    top: -15%;
    width: 110%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.lemon {
    position: absolute;
    top: -30%;
    left: 50%;
    width: 25vw;
    transform: translate(-50%, 0%);
}